* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.hidden {
  display: none;
}
.start {
  display: flex;
}
.choose {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #c9f9fc;
  align-items: center;
  justify-content: center;
}
.choose__x,
.choose__o {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choose__x:hover::before,
.choose__x:hover::after,
.choose__o:hover::before,
.choose__o:hover::after {
  opacity: 0.6;
}

.choose__x::before,
.choose__x::after,
.choose__o::before,
.choose__o::after {
  content: '';
  position: absolute;
}

.choose__x::before,
.choose__x::after {
  width: 30px;
  height: 100px;
  background: linear-gradient(to bottom, #fcd015 50%, #fbb500 50%);
}
.choose__x::before {
  transform: rotate(45deg);
}
.choose__x::after {
  transform: rotate(-45deg);
}
.choose__o::before,
.choose__o::after {
  border-radius: 50%;
}
.choose__o::before {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, #fcd015 50%, #fbb500 50%);
  border-radius: 50%;
}
.choose__o::after {
  width: 40px;
  height: 50px;
  background-color: #c9f9fc;
}
.board {
  width: 800px;
  height: 800px;
  border: 20px solid black;
  border-radius: 50px;
  box-shadow: -10px 20px 0 black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  opacity: 0.6;
}

.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  opacity: 0.6;
}

.cell {
  width: 200px;
  height: 200px;
  background-color: #c9f9fc;
  border: 8px solid #000000;
  border-radius: 16px;
  box-shadow: -3px 6px 0 black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 100px;
  background: linear-gradient(to bottom, #fcd015 50%, #fbb500 50%);
  border: 3px solid black;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}
.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, #fcd015 50%, #fbb500 50%);
  border: 3px solid black;
}
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: 40px;
  height: 50px;
  background-color: #c9f9fc;
  border: 3px solid black;
}

.winning-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.winning-message-text {
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
}

.restart {
  font-size: 40px;
  padding: 10px 15px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 16px;
  cursor: pointer;
  color: white;
  position: relative;
}
.restart:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.restart:active {
  top: 5px;
}

.show {
  visibility: visible;
}
